<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my app replica a</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3" defer></script>
    <script src="app.js" defer></script>
</head>

<body>
    <div id="app">

        <section>
            <header>
                <h1>my app replica a</h1>
            </header>
            <button @click="alert" :disabled="isButtonDisabled">alert</button>
            <button @click="add(1)">add</button>
            <button @click="remove(1)">remove</button>
            <button @click="reset">reset</button>
            <p>count: {{ count }}</p>
            <input type="text" v-model="name" placeholder="enter name">
            <input type="text" v-model="lastName" placeholder="enter last name">
            <button @click="resetName">reset name</button>
            <p>your name: {{ nameAndLastName }}</p>
            <input type="text" v-model="nameAgain" placeholder="name + last name">
            <p>your name with last name: {{ fullName }}</p>
        </section>

        <div class="box" v-if="alertMessage">
            <div class="box-content">
                <p>you need to type both, first name and last name</p>
            </div>
        </div>

    </div>
</body>

</html>